# Database Connection (SQLite local file URL)
DATABASE_URL="file:./dev.db"

# Secret Key for Auth/Session Tokens
NEXTAUTH_SECRET="allerscan-super-secret-jwt-key-2026"

# Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Optional Gemini / OpenAI API Keys
GEMINI_API_KEY=""
